/* theme color #f6e05e */

@import url("https://fonts.googleapis.com/css?family=Roboto|Pacifico&display=swap");

p,
span,
input,
textarea,
input[type="submit"],
label {
  font-family: "Roboto";
  font-size: 18px;
}

body {
  background-color: #4a5568;
}

nav,
h1,
h2,
h3,
h4,
h5,
.donationAmount {
  font-family: "Pacifico";
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.scale-enter {
  transform: scale(0.1);
}
.scale-enter.scale-enter-active {
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

.fade-exit,
.scale-exit {
  display: none;
  opacity: 0;
  position: fixed;
}

.fade-exit.fade-exit-active,
.scale-exit.scale-exit-active {
  opacity: 0;
}

.loading {
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
  background-color: #f6e05e;
  border-radius: 100%;
  height: 6em;
  width: 6em;
}
.loading-container {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
    transform: scale(1);
  }
}
